@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Work+Sans:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;

  --color-primary: #4e0d15;
  --color-primary-container: #6b2329;
  --color-on-primary-container: #ee8a8d;
  
  --color-secondary: #755b00;
  --color-secondary-container: #fecb32;
  --color-on-secondary-container: #705600;
  --color-secondary-fixed: #ffdf92;
  --color-on-secondary-fixed: #241a00;

  --color-background: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container: #eeeeee;
  
  --color-outline-variant: #dac1c0;
  
  --spacing-container-padding: 32px;
  --spacing-section-gap: 80px;
  --spacing-grid-gutter: 24px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
